<div class="dashboard-container">
  <!-- Add Project Button -->
  <div class="add-project-card">
    <button class="add-project-button" (click)="openAddProjectDialog()">+</button>
  </div>

  <div class="project-card" *ngFor="let project of projects">
    <div class="project-info">
      <h3>{{ project.name }}</h3>
      <p>Erstellt: {{ project.created_at }}</p>
    </div>
    <div class="project-actions">
      <button class="edit-button" (click)="editProject(project)">Editieren</button>
      <button class="delete-button" (click)="deleteProject(project.id)">Löschen</button>
    </div>
  </div>
</div>
